<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
	<!-- 全局对象类型别名 -->  
    <typeAliases>  
        <typeAlias alias="RiskGoodsPet" type="com.model.RiskGoodsPet"/>
        <!-- <typeAlias alias="Wateruser" type="com.model.Wateruser"/> -->
        <!-- <typeAlias alias="PortEnterprise" type="com.model.PortEnterprise"/> -->  
    </typeAliases> 


    
</configuration>